:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  background-color: red;
}

.bodyContainer {
  width: 700px;
  height: 700px;
  display: grid;
  grid-gap: 0px;
  border: 1px solid #ddd;
  background-color: ghostwhite;
  border-radius: 3px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}
.grid-item {
  margin: 0px;
  /* border: 1px solid #ddd; */
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

button {
  background-color: blanchedalmond;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* .grid-item:hover,
.grid-item.active {
  background-color: gray;
} */
